.container{
    width: 1400px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f1ebeb;
}

.links{
    display: flex;
    
}

.icons {
    display: flex;
    
   
}